.language:focus {
    color: black;
}


.arrow-hero {
    animation: slide-down-arrow 2s infinite;
    position: relative;
}

@keyframes slide-down-arrow {
    0% {
        top: 0;
    }
    
    50% {
        top: 50px;
    }

    100%{
        top: 0;
    }
}



.row-ask:focus {
    background-color: rgb(231, 230, 230);
}

.row-ask:focus p {
    display: block;
}

.row-ask:focus .arrow {
    transform: rotate(180deg);
}

.blue-bt:hover {
    box-shadow: 2px 2px 5px rgb(104, 104, 104);
}

.white-bt:hover {
    box-shadow: 2px 2px 5px rgb(170, 170, 170);
}