* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 77px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4, h5 {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* ID */


/* Classi */

.header {
    background-color: #b4d0e7;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 99;
    background-color: white;
}

.nav ul {
    list-style: none;
}

.nav-left {
    display: inline-block;
    width: 49%;
}

.nav-left li, .nav-right li {
    display: inline-block;
}

.nav-left a, .nav-right a {
    display: inline-block;
    padding: 10px 20px;
    line-height: 25px;
}

.nav-left img {
    vertical-align: middle;
}

.nav-right{
    display: inline-block;
    width: 50%;
    text-align: right;
}

.container-big {
    max-width: 1367px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    top: 100px;
}

.jumbo-img, 
.partner-img,
.bus-img {
    max-width: 100%;
    padding: 20px;
}

.content-subtitle {
    padding-top: 20px;
    padding-right: 50px;
}

.description {
    margin-bottom: 20px;
}

.button-hero {
    margin-bottom: 10px;
    display: inline-block;
}

.canc-abb {
    font-size: 14px;
    margin-bottom: 30px;
}

.container {
    max-width: 1135px;
    margin: 100px auto 0;
}

.section-main {
    padding: 20px;
}

.radio-container {
    margin-top: 40px;
}

.radio1, .radio2 {
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 20px;
}

.column-box {
    padding: 20px;
}

.column-box ul, .frequent-ask ul {
    list-style: none;
}

.column {
    border: 1px solid #E4E4E6;
}

.column-same-height {
    min-height: 1200px;
}

.column section {
    text-align: center;
    border-bottom: 1px solid #E4E4E6;
}

.features-abb, .recap-abb {
    padding: 20px;
}

.type-abb li {
    padding: 20px 0;
}

.type-abb li:last-child {
    padding-top: 0px;
    color: #637381;
    font-size: 14px;
}

.function-abb li {
    padding: 20px 0 ;
}

.button-container {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.alt-link-container {
    padding: 20px 0;
}

.alt-link {
    text-decoration: underline;
    color: blue;    
}

.separator {
    width: 20%;
    border-bottom: 1px solid #E4E4E6;
}

.recap-abb ul {
    list-style: url(../img/check-solid.svg);
}

.recap-abb li {
    padding: 20px 0;
}

.sales-office-button {
    position: absolute;
    top: 20px;
    right: 80px;
}

.partner-description {
    padding: 20px;
}

.parag-partner {
    padding-top: 20px;
}

.partner-button {
    padding-top: 20px;
    display: inline-block;
}

.dropbox-business {
    padding: 0 20px;
    padding-top: 50px;
}

.square {
    padding: 20px;
}

.square-title {
    padding-bottom: 20px;
}

.title-bus-footer {
    padding: 20px;
    padding-top: 60px;
}

.find-more-container {
    margin-top: 20px;
}

.find-more {
    text-decoration: underline;
    color: blue;
}

.square-company-container {
    margin-top: 50px;
}

.company-container {
    float: left;
    min-height: 200px;
    width: 30%;
    
}

.text-company-center {
    width: 40%;
    float: left;
    padding: 50px;
}

.square-company {
    float: left;
    width: 50%;
    height: 15vw;   
    border: 1px solid;
    position: relative;
}

.company-img {
    max-width: 100%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.author-center-company {
    margin: 50px 0;
}

.dropbox-business2 {
    background-color: #B4D0E7;
}

.container2 {
    width: 1135px;
    margin: 0 auto;
    padding: 140px 20px;
}

.title-bus {
    color: #61082B;
}

.button-container-testfree {
    text-align: right;
}

.button-testfree {
    display: inline-block;
}

.frequent-ask {
    padding: 20px;
    position: relative;
}

.frequent-ask li:first-child {
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.row-ask {
    border-bottom: 1px solid;
    padding: 20px 0;
}

.row-ask:hover {
    background-color: rgb(231, 230, 230);
}

.ask {
    position: relative;
}

.ask-link {
    color: black;
}

.arrow {
    position: absolute;
    right: 20px;
    transition: .5s;
}

.text-ask {
    padding: 20px 30px;
    display: none;
}





/* FOOTER */

.container-big2 {
    max-width: 1367px;
    margin: 0 auto;
    padding-top: 100px;
}
.footer {
    background-color: black;

}

.footer-list ul {
    list-style: none;
}

.footer-list li {
    padding: 10px 0;
}
.footer-list li a {
    color: white;
}

.footer-list li:first-child {
    padding-bottom: 40px;
    color: white;
}

.separator-footer {
    margin: 20px;
    width: 20%;
    border-bottom: 1px solid #E4E4E6;
}

.select-language {
    padding: 20px 0 30px;
}

.language {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(231, 230, 230);
}

.fa-globe-europe {
    color: rgb(231, 230, 230);
}

/******************************************
Classi utili
******************************************/


.bt {
    padding: 6px 15px;
    border-radius: 10px;
}

.blue-bt {
    background-color: #1970FF;
    color: white;
    transition: all .3s;
}

.white-bt {
    background-color: white;
    color: black;
    border: 1px solid;
    transition: all .3s;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.green-square {
    background-color: #a2d39b;
}

.bordeux-square {
    background-color: #61082b;
}

.blue-square {
    background-color: #25398D;
}

.red-square {
    background-color: #ff1c1c;
}

.azure-square {
    background-color: #B4D0E7;
}

.lightblue-square {
    background-color: #0093ce;
}

.yellow-square {
    background-color: #FFD830;
}

[class*="col-"] {
    float: left;
}

.col-1_9 {
    width: calc(100% / 9);
}

.col-3_9 {
    width: calc(100% / 9 * 3);
}

.col-4_9 {
    width: calc(100% / 9 * 4);
}

.col-5_9 {
    width: calc(100% / 9 * 5);
}

.col-6_9 {
    width: calc(100% / 9 * 6);
}

.col-8_9 {
    width: calc(100% / 9 * 8);
}

.col-9 {
    width: 100%;
}


.col-1_5 {
    width: calc(100% / 5);
}