* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 77px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4, h5 {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* ID */

#jumbo {
    max-width: 100%;
    padding: 20px;
}

/* Classi */

.header {
    background-color: #b4d0e7;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 99;
    background-color: white;
}

.nav ul {
    list-style: none;
}

.nav-left {
    display: inline-block;
    width: 49%;
}

.nav-left li, .nav-right li {
    display: inline-block;
}

.nav-left a, .nav-right a {
    display: inline-block;
    padding: 10px 20px;
    line-height: 25px;
}

.nav-left img {
    vertical-align: middle;
}

.nav-right{
    display: inline-block;
    width: 50%;
    text-align: right;
}

.container-big {
    max-width: 1367px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    top: 100px;
}

.content-subtitle {
    padding-top: 20px;
    padding-right: 50px;
}

.description {
    margin-bottom: 20px;
}

.button-hero {
    margin-bottom: 10px;
    display: inline-block;
}

.canc-abb {
    font-size: 14px;
    margin-bottom: 30px;
}

.container {
    max-width: 1135px;
    margin: 100px auto 0;
}

.section-main {
    padding: 20px;
}

.radio-container {
    margin-top: 40px;
}

.radio1, .radio2 {
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 20px;
}

.column-box {
    padding: 20px;
}

.column-box ul {
    list-style: none;
}

.column {
    border: 1px solid #E4E4E6;
}

.column section {
    text-align: center;
    border-bottom: 1px solid #E4E4E6;
}

.features-abb, .recap-abb {
    padding: 20px;
}

.type-abb li {
    padding: 20px 0;
}

.type-abb li:last-child {
    padding-top: 0px;
    color: #637381;
    font-size: 14px;
}

.function-abb li {
    padding: 20px 0 ;
}

.button-container {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.alt-link-container {
    padding: 20px 0;
}

.alt-link {
    text-decoration: underline;
    color: blue;    
}

.separator {
    width: 20%;
    border-bottom: 1px solid #E4E4E6;
}

/* .recap-abb ul {
    list-style: image(<i class="far fa-check"></i>);
} */

.recap-abb li {
    padding: 20px 0;
}





/******************************************
Classi utili
******************************************/


.bt {
    background-color: #1970FF;
    color: white;
    padding: 6px 15px;
}

.row {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
}

.col-1_9 {
    width: calc(100% / 9);
}

.col-3_9 {
    width: calc(100% / 9 * 3);
}

.col-4_9 {
    width: calc(100% / 9 * 4);
}

.col-5_9 {
    width: calc(100% / 9 * 5);
}